/*####################################################*/
/* Reset */

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;

}


/*####################################################*/
/*Estilos GENERICOS */
body{
	font-family: "preconnect";

}

/* Tipos de comentarios*/
/*#########################*/
/*___________NAV_________*/

/*################*/
/*___Logo-Letra___*/

/*####################################################*/
/*####################################################*/
/*####################################################*/
/*__________________Estilos de HOME__________________*/

/*####################################################*/
/*__________________FONDOS - HOME__________________*/
body #fondo_home{

	background-image: url("../img/bannerE.png") ;
	background-repeat: no-repeat;
	background-size: 100%;

	/*_____Tamaño______*/	
	width: 100%;
	height: 100%;

	/*___FLEX___
	display: flex;
	flex-direction: column;/*
	
	/*___GRID___*/




}

body #fondo_home_interno{
	height: 2000px;
	

	/*___GRID___*/
	display: grid;

	grid-template-rows: 5% 88% 7%;
	grid-template-columns: repeat(2, 1fr): ;
}


/*#############################################*/
/*____________HEADER - HOME____________*/
/*___Header general___*/


header{
	background-color: rgba(255, 255, 255, 0.8);
	
	position: sticky;
	top: 0px;
	z-index: 1;

	padding:20px;


	/*_____Tamaño______*/	
	width:100%;

	/*_____Flex______*/
	display: flex;
	justify-content:space-between;
	align-items:center;

	/*_____GRID______*/

	
}

/*################*/
/*___Logo-Letra___*/
header .logoletra{

	/*_____Flex______*/
	display: flex;
	align-items: center;

	gap: 20px;
}


/*################*/
/*___Logo___*/
header .logoletra img{
	width:130px;
}


/*################*/
/*___Titulo del logo___*/
header .logoletra h1{

	font-size: 30px;

	/*_____Box modeling______*/
	margin-top: 20px;

	/*_____Flex______*/
	display: inline-block;

}


/*#########################*/
/*___________NAV_________*/
header nav{
	background-color: rgba(255, 255, 255, 0.4);

	
	/*___Box modeling___*/
	margin-top: 20px;
	text-align: right;	

}

header nav ul{
	list-style: none;

	
	/*___Box modeling___*/
	text-align: right;

	/*___FLEX___*/
	display: flex;

	gap:40px;
	

}

header nav ul li{
	font-size: 20px;

	/*___Box modeling___*/
	display: inline-block;


}

header nav ul li a{
	text-decoration:none;
	color:black;
 	/*o es mejor margin-left: 10px;??? para separar
 	el espacio de los botones del nav?*/
 	/*___Box modeling___*/

 }


/*#############################################*/
/*____________MAIN - HOME____________*/
main {
	

	padding:35px;
	/*___Box modeling___*/
	text-align:right;

	/*___GRID___*/
	display: grid;
	grid-template-rows: 33% 33% 33%;
	grid-template-columns: 1fr 1fr;

	

}


.item-3{
	grid-column: span 2;
}


.item-2{

	
	/*___Box modeling___*/
	text-align: center;	

	/*___FLEX___*/
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;
}

main #populares{
	width: 600px;

	/*___FLEX___*/
	display: flex;
	
}

main #populares .ventana_populares{
	background-color: white;

	margin:20px;
	padding: 0px;

	width: 360px;
	height: 230px;
	
	/*___Box modeling___*/
	margin-top: -10px;
	margin-left: 0px;
	
}


main h1{
	color: red;
	text-shadow: -1.5px -1px 1.3px black;

	font-style: italic;
	font-size: 50px;



	/*___Box modeling___*/
	margin-bottom: 20px;
	/*margin-right: 50px;*/

}

main p{
	
	
	/*___Box modeling___*/
	text-align: center;
	/*margin-bottom:70px;*/	

}

main .boton_todos_los_perfumes{

	background-color: white;

	border: 2px solid white;
	border-radius: 36px;

	box-shadow: 1px 1px 10px gray;

	/*___Box modeling___*/
	margin-top: 30px;
	/*margin-left: 900px;
	text-align: center;*/

}

body #fondo .ventanaBlog{
	background-color: white;

	width: 400px;
	height: 200px;
	

}


/*#############################################*/
/*____________FOOTER - HOME____________*/

/*PENDIENTE: Mover el footer hasta abajo, sin stiky [CUMPLIDO]*/
#footer{

}



footer{
	background-color: rgba(255, 255, 255, 0.3);

	/*___Box modeling___*/
	text-align: right;

	/*___Flex___*/

	

}
footer ul li{
	list-style: none;

	/*___Box modeling___*/
	display: inline-block;	
}

footer ul li img{
	color:black;

	width:40px;
	
}

footer h3{

	/*___Box modeling___*/
	text-align: center;
}

/*####################################################*/
/*####################################################*/
/*####################################################*/
/*__________________Estilos de BLOG__________________*/
/*#############################################*/
/*____________FONDO - BLOG____________*/

body #fondo_blog{
	background-image: url("../img/blog_fondo_1.png") ;
	background-repeat: no-repeat;
	background-size: 100%;

	background-attachment: fixed;

	width: 100%;
	height: 1900px;
	
	/*___Box modeling___*/


	/*___Flex___*/


}

/*#############################################*/
/*____________MAIN - BLOG____________*/
body main.varios_blog{


	/*___Box modeling___*/
	margin-left:65px;
	margin-right:75px;
	padding: 0px;
	margin-top: 60px;


	/*___Flex___*/
	display: flex;
	flex-direction: column;

}

/*#########################*/
/*_____CAJA DE BLOGS - BLOG________*/

.blog h1{
	text-align: center;
}

body main.varios_blog .blog{
	background-color: rgba(255, 255, 255, 0.85);

	/*___Box modeling___*/
	padding: 10px;


}

/*##############################*/
/*_____PARRAFO E IMAGEN - BLOG________*/
body main.varios_blog .blog .blog_parrafoYimagen{


	/*___Flex___*/
	display: flex;
	flex-direction: row;

	gap: 30px;
}


/*################*/
/*___Parrafo___*/
.blog_parrafoYimagen p{
	padding: 15px;

	font-size: 18px;
	letter-spacing: 0.02em;

	text-indent: 70px; /*SANGRIA*/
	text-align: left;
	
	word-spacing: 10px;
	line-height: 1.5em;

	/*___Flex___*/

}

/*#####################*/
/*___Caja de imagen___*/
body main.varios_blog .blog_parrafoYimagen .blog_imagen{
	height:600px ;
}

/*################*/
/*___imagen___*/
body main.varios_blog .blog_parrafoYimagen .blog_imagen img{
	position: sticky;
	top: 130px;

	width: 300px;
	height: 200px;

	/*___Box modeling___*/
	bottom: 30px;
	z-index: 0;


}


/*####################################################*/
/*####################################################*/
/*####################################################*/
/*__________________Estilos del SOBRE NOSOTROS__________________*/

/*#############################################*/
/*____________FONDO - SOBRE NOSOTROS____________*/
body #fondo_sobreNosotros{
	background-image: url("../img/sobreNosotros_fondo.png") ;
	background-repeat: no-repeat;
	background-size: 100%;

	background-attachment: fixed;

	width: 100%;
	height: 1600px;
	
	/*___Box modeling___*/


	/*___Flex___*/


}


body main.sobreNosotros_entrada{
	padding: 18px;
	

	/*___Box modeling___*/
	margin-left:50px;
	margin-right:50px;
	margin-top: 60px;

	/*___Flex___*/
	display: flex;
	flex-direction: column;


	justify-content: center;
	align-items: center;
}


.sobreNosotros_entrada{
	background-color: rgba(255, 255, 255, 0.85);
	padding: 25px;
	


	/*___Flex___*/
	display: flex;
	flex-direction: column;

	justify-content: center;


}

.blog_imagen_sobre_nosotros{

}

.sobreNosotros_entrada img{
	width: 860px;
	height: 500px;
}

.sobreNosotros_entrada p{
	font-size: 24px;

	text-indent: 70px;
	text-align: left;
	
	word-spacing: 10px;
	line-height: 35px;

	/*___Flex___*/
}


/*#########################*/
/*___________NAV_________*/

/*################*/
/*___Logo-Letra___*/




/*####################################################*/
/*####################################################*/
/*####################################################*/
/*__________________Estilos del SOBRE NOSOTROS__________________*/

/*#############################################*/
/*____________FONDO - SOBRE CONTACTO____________*/
#fondo_contacto{
	background-image: url("../img/fondo_contacto.png") ;

	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;


	width: 100%;
	height:650px;
	
	/*___Box modeling___*/


	/*___Flex___*/


}

#fondo_contacto fieldset{

	background-color: rgba(255, 255, 255, 0.7);
}

#fondo_contacto form{
	margin:400px;


	width: 300px;
	height: 250px;

	/*___Flex___*/
	display:flex;
	flex-direction:column;

	

}

#fondo_contacto form label {
	text-align:left;
	line-height: 40px;
	font-size: 23px;

	/*___Flex___*/

}